@import "tailwindcss";

/* DARK MODE (Tailwind v4 style) */
@custom-variant dark (&:where(.dark, .dark *));

/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE HTML */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* FUENTE GLOBAL */
body {
  font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
  background-color: #f8fafc; /* base claro */
  color: #0f172a;
}

/* DARK MODE BASE */
.dark body {
  background-color: #0f172a;
  color: #f1f5f9;
}